$primary-color: #ffffff;
$secondary-color: #fe9e45;
$background-color: #262d36;
$grey-color: #838383;
$primary-heading-color: #4d4d4d;
$secondary-text-color: #481c03;
$line-color: rgba(255, 255, 255, 0.5);

$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
