    <div class="container">
        <nav class="navigation">
            <a class="logo" href="#">
                <svg class="logo-svg" width="198px" height="60px">
                    <use class="icon-logo" href="./images/icons/sprite.svg#icon-logo"></use>
                </svg>
            </a>

            <ul class="navigation-menu">
                <li class="nav-menu_item"><a href="#">Купить VPS</a></li>
                <li class="nav-menu_item"><a href="#">О продукте</a></li>
                <li class="nav-menu_item"><a href="#">FAQ</a></li>
            </ul>
            <button class="nav-btn button">Тех. поддержка</button>
        </nav>
    </div>