    <h1 class="hero_title">Лучшее сочетание</h1>
    <ul>
        <li>
            <svg class="hero-svg" width="77px" height="80px">
                <use class="hero-icon" href="./images/icons/sprite.svg#icon-hero-anonim"></use>
            </svg>
            <p>анонимность</p>
        </li>
        <li>
            <svg class="hero-svg" width="77px" height="80px">
                <use class="hero-icon" href="./images/icons/sprite.svg#icon-hero-safety"></use>
            </svg>
            <p>безопасность</p>
        </li>
        <li>
            <svg class="hero-svg" width="77px" height="80px">
                <use class="hero-icon" href="./images/icons/sprite.svg#icon-hero-power"></use>
            </svg>
            <p>мощность</p>
        </li>
    </ul>
    <p><span>VPS</span> - это виртуально созданный ПК с нужными вам конфигурациями. Это отличное решение для полной
        анонимности и получения необходимой мощности для решения различных задач.
    </p>
    <button class="button">
        <svg class="hero-btn" width="38px" height="38px">
            <use class="hero-btn-icon" href="./images/icons/sprite.svg#icon-btn-hero"></use>
        </svg>
        <span>Купить VPS</span>
    </button>