<section class="hero">
    <div class="container">
        <h1 class="hero__title">Лучшее сочетание</h1>
        <ul class="hero__list">
            <li class="hero__list-elems">
                <svg class="hero__svg" width="77px" height="80px">
                    <use class="hero__svg-icon" href="./images/icons/sprite.svg#icon-hero-anonim"></use>
                </svg>
                <p>анонимность</p>
            </li>
            <li class="hero__list-elems">
                <svg class="hero__svg" width="77px" height="80px">
                    <use class="hero__svg-icon" href="./images/icons/sprite.svg#icon-hero-safety"></use>
                </svg>
                <p>безопасность</p>
            </li>
            <li class="hero__list-elems">
                <svg class="hero__svg" width="77px" height="80px">
                    <use class="hero__svg-icon" href="./images/icons/sprite.svg#icon-hero-power"></use>
                </svg>
                <p>мощность</p>
            </li>
        </ul>
        <p class="hero__text"><span class="text-accent">VPS</span> - это виртуально созданный ПК с нужными вам конфигурациями.
            Это отличное решение для полной
            анонимности и получения необходимой мощности для решения различных задач.
        </p>
        <button class="button hero__button">
            <svg class="hero__button-svg" width="37px" height="37px">
                <use class="hero__button-icon" href="./images/icons/sprite.svg#icon-btn-hero"></use>
            </svg>
            <span class="hero__button-text">Купить VPS</span>
        </button>
    </div>
</section>