    <h2>Преимущества</h2>
    <ul>
        <li>
            <svg class="adv-svg" width="120px" height="120px">
                <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-speed"></use>
            </svg>
            <h3>Скорость</h3>
            <p>Интернет канал без ограничений. Быстрый отклик</p>
        </li>
        <li>
            <svg class="adv-svg" width="120px" height="120px">
                <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-soft"></use>
            </svg>
            <h3>Софт</h3>
            <p>Предустановлены популярные программы, в том числе и бот/сканер Betting Со</p>
        </li>
        <li>
            <svg class="adv-svg" width="120px" height="120px">
                <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-windows"></use>
            </svg>
            <h3>Windows 10</h3>
            <p>На всех решениях предустановлена сборка Windows 10</p>
        </li>
        <li>
            <svg class="adv-svg" width="120px" height="120px">
                <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-optimization"></use>
            </svg>
            <h3>Оптимизация под вилки</h3>
            <p>Стабильная работа бота и моментальная проставка плеч в сканере</p>
        </li>
        <li>
            <svg class="adv-svg" width="120px" height="120px">
                <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-price"></use>
            </svg>
            <h3>Оптимальная цена</h3>
            <p>400грн. - 7 дней. Одно из самых лучших предложений на рынке</p>
        </li>
        <li>
            <svg class="adv-svg" width="120px" height="120px">
                <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-unique"></use>
            </svg>
            <h3>Уникализация</h3>
            <p>Каждая виртуальная машина уникальна</p>
        </li>
    </ul>