<section class="advantages">
    <div class="container">
        <h2 class="adv__header">Преимущества</h2>
        <ul class="adv__list">
            <li class="adv__item">
                <svg class="adv-svg" width="120px" height="120px">
                    <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-speed"></use>
                </svg>
                <h3 class="adv-header">Скорость</h3>
                <p class="adv-text">Интернет канал без ограничений. Быстрый отклик</p>
            </li>
            <li class="adv__item">
                <svg class="adv-svg" width="120px" height="120px">
                    <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-soft"></use>
                </svg>
                <h3 class="adv-header">Софт</h3>
                <p class="adv-text">Предустановлены популярные программы, в том числе и бот/сканер Betting Со</p>
            </li>
            <li class="adv__item">
                <svg class="adv-svg" width="120px" height="120px">
                    <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-windows"></use>
                </svg>
                <h3 class="adv-header">Windows 10</h3>
                <p class="adv-text">На всех решениях предустановлена сборка Windows 10</p>
            </li>
            <li class="adv__item">
                <svg class="adv-svg" width="120px" height="120px">
                    <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-optimization"></use>
                </svg>
                <h3 class="adv-header">Оптимизация под вилки</h3>
                <p class="adv-text">Стабильная работа бота и моментальная проставка плеч в сканере</p>
            </li>
            <li class="adv__item">
                <svg class="adv-svg" width="120px" height="120px">
                    <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-price"></use>
                </svg>
                <h3 class="adv-header">Оптимальная цена</h3>
                <p class="adv-text">400грн. - 7 дней. Одно из самых лучших предложений на рынке</p>
            </li>
            <li class="adv__item">
                <svg class="adv-svg" width="120px" height="120px">
                    <use class="adv-icon" href="./images/icons/sprite.svg#icon-adv-unique"></use>
                </svg>
                <h3 class="adv-header">Уникализация</h3>
                <p class="adv-text">Каждая виртуальная машина уникальна</p>
            </li>
        </ul>
    </div>
</section>