<h2>О продукте</h2>
<p>VPS - это виртуально созданный ПК с нужными вам конфигурациями. Это отличное решение для полной анонимности и
    получения необходимой мощности для решения различных задач.
</p>
<p>Изначально мы создавали VPS под свои личные нужды (использование собственного ПО), но увидев дефицит качественного
    сервиса VPS для профессионалов, мы решили предоставить его широкой аудитории.
</p>
<h4>Наши главные правила для всех продуктов:</h4>
<ul class="rules">
    <li>
        <svg class="about-svg" width="100px" height="100px">
            <use class="about-btn-icon" href="./images/icons/sprite.svg#icon-about-support"></use>
        </svg>
        <p>Оперативная и адекватная поддержка</p>
    </li>
    <li>
        <svg class="about-svg" width="100px" height="100px">
            <use class="about-btn-icon" href="./images/icons/sprite.svg#icon-about-devops"></use>
        </svg>
        <p>Опытные разработчики</p>
    </li>
    <li>
        <svg class="about-svg" width="100px" height="100px">
            <use class="about-btn-icon" href="./images/icons/sprite.svg#icon-about-employee"></use>
        </svg>
        <p>Возможность сотрудничества</p>
    </li>
    <li>
        <svg class="about-svg" width="100px" height="100px">
            <use class="about-btn-icon" href="./images/icons/sprite.svg#icon-about-dollar"></use>
        </svg>
        <p>Гибкая ценовая политика</p>
    </li>
    <li>
        <svg class="about-svg" width="100px" height="100px">
            <use class="about-btn-icon" href="./images/icons/sprite.svg#icon-about-safety"></use>
        </svg>
        <p>Безопасность и анонимность</p>
    </li>
</ul>