<h2>Стоимость и оплата</h2>
<ul>
    <li>
        <svg class="price-svg" width="40px" height="40px">
            <use class="price-icon" href="./images/icons/sprite.svg#icon-price"></use>
        </svg>
        <span>VPS</span>
        <ul>
            <li>
                <p>RAM</p>
                <p>8 GB</p>
            </li>
            <li>
                <p>SSD Space</p>
                <p>30 GB</p>
            </li>
            <li>
                <p>CPU Cores</p>
                <p>2</p>
            </li>
            <li>
                <p>Bandwidth</p>
                <p>1 TB</p>
            </li>
            <li>
                <p>Control Panel</p>
                <p>Full</p>
            </li>
        </ul>
        <p>7 дней</p>
        <p>400 грн</p>
        <button class="price-btn">
            <svg class="price-svg" width="25px" height="25px">
                <use class="price-icon" href="./images/icons/sprite.svg#icon-btn-price"></use>
            </svg>
            <p>Заказать</p>
        </button>
    </li>
    <li>
        <svg class="price-svg" width="40px" height="40px">
            <use class="price-icon" href="./images/icons/sprite.svg#icon-price"></use>
        </svg>
        <span>VPS</span>
        <ul>
            <li>
                <p>RAM</p>
                <p>16 GB</p>
            </li>
            <li>
                <p>SSD Space</p>
                <p>70 GB</p>
            </li>
            <li>
                <p>CPU Cores</p>
                <p>2</p>
            </li>
            <li>
                <p>Bandwidth</p>
                <p>1 TB</p>
            </li>
            <li>
                <p>Control Panel</p>
                <p>Full</p>
            </li>
        </ul>
        <p>14 дней</p>
        <p>770 грн</p>
        <button class="price-btn button">
            <svg class="price-svg" width="25px" height="25px">
                <use class="price-icon" href="./images/icons/sprite.svg#icon-btn-price"></use>
            </svg>
            <p>Заказать</p>
        </button>
    </li>
    <li>
        <svg class="price-svg" width="40px" height="40px">
            <use class="price-icon" href="./images/icons/sprite.svg#icon-price"></use>
        </svg>
        <span>VPS</span>
        <ul>
            <li>
                <p>RAM</p>
                <p>24 GB</p>
            </li>
            <li>
                <p>SSD Space</p>
                <p>100 GB</p>
            </li>
            <li>
                <p>CPU Cores</p>
                <p>2</p>
            </li>
            <li>
                <p>Bandwidth</p>
                <p>1 TB</p>
            </li>
            <li>
                <p>Control Panel</p>
                <p>Full</p>
            </li>
        </ul>
        <p>30 дней</p>
        <p>2700 грн</p>
        <button class="price-btn button">
            <svg class="price-svg" width="25px" height="25px">
                <use class="price-icon" href="./images/icons/sprite.svg#icon-btn-price"></use>
            </svg>
            <p>Заказать</p>
        </button>
    </li>
</ul>