<h2>Как мне выбрать сервер?</h2>
<p>Зарегистрироваться на сайте и оплатить виртуальный компьютер.</p>
<p>Далее подключиться к виртуальному компьютеру, то есть:</p>
<ol>
    <li>
        <p>На своем компьютере нажать на кнопку пуск;</p>
    </li>
    <li>
        <p>В строке поиск напечатать подключение;</p>
    </li>
    <li>
        <p>Выбрать подключение к удаленному рабочему столу;</p>
    </li>
    <li>
        <p>Напечатать айпи и порт слитно;</p>
    </li>
    <li>
        <p>Далее выбрать Administrator и пароль;</p>
    </li>
    <li>
        <p>Задать свой пароль;</p>
    </li>
</ol>
<svg class="ask" width="167px" height="150px">
    <use class="ask-icon" href="./images/icons/sprite.svg#icon-question"></use>
</svg>
<svg class="face" width="181px" height="175px">
    <use class="face-icon" href="./images/icons/sprite.svg#icon-thinking-face"></use>
</svg>