.hero {
  padding: 160px 40px 80px 40px;
  text-align: center;
  background-color: peru;
  background-image: url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: $tablet) {
  .hero {
    padding: 260px 60px 180px 60px;
  }
}

.hero_title {
  margin-bottom: 55px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.23;
  color: white;
}

@media screen and (min-width: $tablet) {
  .hero_title {
    font-size: 48px;
  }
}

@media screen and (min-width: $tablet) {
  .hero_list {
    display: flex;
    justify-content: space-between;
  }
}
.hero_elems {
  margin-bottom: 30px;
  transition: color 2s ease 1ms;
}

.hero_elems:hover,
.hero_elems:focus {
  color: $secondary-color;
  transition: color 2s ease 1ms;
}

.hero-icon {
  fill: white;
  transition: fill 2s ease 1ms;
}

.hero_elems:hover .hero-icon,
.hero_elems:focus .hero-icon {
  fill: $secondary-color;
  transition: fill 2s ease 1ms;
}

p span {
  color: $secondary-color;
}

.hero p {
  margin-bottom: 50px;
}

@media screen and (min-width: $tablet) {
  .hero p {
    margin-bottom: 100px;
  }
}
