.advantages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  text-align: center;
  color: black;
  background-color: $primary-color;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../images/backgr.svg);
  background-repeat: repeat;
  background-position: left top;
  background-size: 300px;
}

.adv__header {
  border-bottom: 1px solid $grey-color;
  background-color: $primary-color;
  height: 114px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 45px;
}

.adv__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.adv__list-item {
  height: 350px;
  width: 350px;
}

@media screen and (min-width: $tablet) {
  .adv__list {
    display: flex;
  }

  .adv__list-item:nth-child(odd) {
    margin-right: 20px;
  }

  .adv__list-item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .adv__list-item {
    margin-bottom: 0px;
  }

  .adv__list-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

  .adv__list-item:nth-child(odd) {
    margin-right: 0px;
  }

  .adv__list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
.adv__svg {
  margin-bottom: 35px;
}

.adv__item-header {
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: $secondary-text-color;
}

.adv__item-text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.17;
  color: $primary-text-color;
}
