a {
  text-decoration: none;
  color: $primary-color;

  transition-duration: 300ms;
  @extend %transitionTF;
}

a:hover,
a:focus {
  color: $secondary-color;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  background-color: $primary-color;
  color: $primary-heading-color;
  font-family: $main-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
