.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: $mobile) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: $desktop) {
  .container {
    max-width: 1400px;
  }
}

.hidden {
  display: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: $desktop) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  width: 200px;
  height: 50px;
  border: 0;
  background: $secondary-color;
  border-radius: 4px;
  box-shadow: 0 5px 0 $secondary-text-color;
  color: $primary-color;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 10px 32px;
  transition: all 0.1s linear;

  font-family: $main-font;
  font-style: normal;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $primary-color;
  background-color: $secondary-color;
}

.button:active {
  box-shadow: 0 2px 0 $secondary-text-color;
  transform: translateY(3px);
}
